<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
</head>

<body>
    <header>
        <div id="banner" class="jumbotron mb-0">
            <h1 class="text-center">
                <a href="{{ path('admin_index')}}">
                    Ochildren Administration
                </a>
            </h1>
        </div>
        <nav>
            <ul class="nav nav-tabs justify-content-center my-2">
                <li class="nav-item">
                    <a class="nav-link {% block adminHome %}{% endblock %}" href="{{ path('admin_index') }}">Home</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link {% block adminWorld %}{% endblock %}" href="{{ path('admin_world_index') }}">Gestion des mondes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% block adminCategory %}{% endblock %}" href="{{ path('admin_category_index') }}">Gestion des catégories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% block adminQuizz %}{% endblock %}" href="{{ path('admin_quizz_index') }}">Gestion des Quizzs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% block adminPuzzle %}{% endblock %}" href="{{ path('admin_puzzle_index') }}">Gestion des puzzles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Deconnexion</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            {% block sidebar %}{% endblock %}
            <div class="col-12">
                {% for label, messages in app.flashes %}
                {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    {% block javascripts %}{% endblock %}
</body>

</html>