{% extends 'base.html.twig' %}

{% block adminPuzzle %}active{% endblock %}

{% block title %}Puzzle index{% endblock %}

{% block body %}
    <h1>Puzzle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Image</th>
                <th>Description</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>World</th>
                <th>Catégories</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for puzzle in puzzles %}
            <tr>
                <td>{{ puzzle.id }}</td>
                <td>{{ puzzle.title }}</td>
                <td>{{ puzzle.image }}</td>
                <td>{{ puzzle.description }}</td>
                <td>{{ puzzle.createdAt ? puzzle.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ puzzle.updatedAt ? puzzle.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ puzzle.world.name }}</td>
                <td>
                {% for categorie in puzzle.categories %}
                    {{ categorie.name }}{% if puzzle.categories|length>1 %}, {% endif %}                  
                {% endfor %}
                </td>
                <td>
                    <a href="{{ path('admin_puzzle_show', {'id': puzzle.id}) }}">show</a>
                    <a href="{{ path('admin_puzzle_edit', {'id': puzzle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_puzzle_new') }}">Create new</a>
{% endblock %}
